extends layout

block content
  h1= title
  - var action = null;
  if path
    - action = '?path=' + path;
  form.pure-form.pure-form-aligned(method="post", action=action)
    fieldset
      div.pure-control-group
        label(for="username") Username
        input(type="text", name="username", id="username", placeholder="Username")
      div.pure-control-group
        label(for="password") Password
        input(type="password", name="password", id="password", placeholder="Password")
      div.pure-controls
        button.pure-button.pure-button-primary(type="submit") Submit