extends layout

block content
  h1 News
  #articles
    - each article in articles
      div.article
        div.title
          h3
            a(href="/blog/"+article.slug)= article.title
        div.body!= article.excerpt