extends layout

block content
  h1= title
  form(method="post")
    div
      div
        span Slug :
        if article
          input(type="text", name="articleSlug", id="editSlug", value=article.slug)
        else
          input(type="text", name="articleSlug", id="editSlug")
      div
        span Title :
        if article
          input(type="text", name="title", id="editArticleTitle", value=article.title)
        else
          input(type="text", name="title", id="editArticleTitle")
      div
        span Body :
        textarea(name="body", rows=20, id="editArticleBody")
          if article
            !=article.body
      div
        span Excerpt :
        textarea(name="excerpt", rows=20, id="editArticleExcerpt")
          if article
            !=article.excerpt
      div#editArticleSubmit
        input(type="submit", value="Send")