extends layout

block content
  h1= title
  form(method="post")
    div
      div
        spam Slug :
        input(type="text", name="slug", id="editSlug")
      div
        span Title :
        input(type="text", name="title", id="editArticleTitle")
      div
        span Body :
        textarea(name="body", rows=20, id="editArticleBody")
      div#editArticleSubmit
        input(type="submit", value="Send")