extends layout

block content
  #blog.limited-width
    h1 Blog
    #articles
      - each article in articles
        div.article
          div.title
            h3
              a(href="/blog/post/"+article.slug)= article.title
          div.body!= article.excerpt