mixin jquery
  script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
  script.
    window.jQuery || document.write('<script type="text/javascript" src="/javascripts/jquery-2.1.0.min.js"><\/script>')

mixin ace
  script(type='text/javascript', src='/javascripts/ace/ace.js')

doctype html
html
  head
    if title
      title= title + ' | Exploring Lines'
    else
      title Exploring Lines
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/site.js')
    block head
  body
    div#menu
      include menu
      block menu
    div#content
      block content
    div#footer
      block footer
      include footer