doctype html
html
  head
    if title
      title= title + ' | Exploring Lines'
    else
      title Exploring Lines
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#menu
      include menu
    div#content
      block content