h2#site-title
  a(href='/') Exploring Lines

ul
  li
    a(href='/') Blog
  li
    a(href='#') Projects
  ul
    li
      a(href='https://github.com/MWGitHub/galehx') Gale Framework &#8594;
    li
      a(href='https://github.com/MWGitHub/EntitySystem') Java Entity System &#8594;
    li
      a(href='https://github.com/MWGitHub/personalblog') This Website &#8594;
