h2#site-title
  a(href='/') Exploring Lines

div.pure-menu.pure-menu-open
  ul
    li.pure-menu-heading Navigation
    li
      a(href='/') Blog
    li.pure-menu-heading Projects
    li
      a(href='/blog/post/about-website') This Website
    li
      a(href='https://github.com/MWGitHub/galehx') Gale Framework
    li
      a(href='https://github.com/MWGitHub/EntitySystem') Java Entity System