h2#site-title
  a(href='/') Exploring Lines

ul
  li
    a(href='/') Blog
  li
    a(href='#') Projects
  ul
    li
      a(href='https://github.com/MWGitHub/galehx') Gale Framework
    li
      a(href='https://github.com/MWGitHub/EntitySystem') Java Entity System
