mixin showItem(item)
  if item.link
    li
      a(href=item.link)= item.label
    

h2#site-title
  a(href='/') Exploring Lines
div.menu-items
  if menuItems
    - var isFirstLabel = true
    each item in menuItems
      if !item.link
        if item.isAdmin
          if user
            if !isFirstLabel
              != '</ul>'
            - isFirstLabel = false
            h3= item.label
            != '<ul>'
        else 
          if !isFirstLabel
            != '</ul>'
          - isFirstLabel = false
          h3= item.label
          != '<ul>'
      else
        if item.isAdmin
          if user
            +showItem(item)
        else
          +showItem(item)
    != '</ul>'