mixin showItem(item)
  if item.link
    li
      a(href=item.link)= item.label
  else
    li.pure-menu-heading= item.label

h2#site-title
  a(href='/') Exploring Lines
div.pure-menu.pure-menu-open
  if menuItems
    - each item in menuItems
      ul
        if item.isAdmin
          if user
            +showItem(item)
        else
          +showItem(item)