body {
  font: 18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  text-align: left;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #444;
  background-color: #fafafa;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  color: #343434;
  font-weight: bold;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 40px;
  margin-bottom: 20px;
}
h2 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 24px;
  margin-bottom: 16px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h3,
h4,
h5,
h6 {
  margin-bottom: 6px;
}
p {
  margin-bottom: 20px;
}
a:link {
  color: #0db9ff;
}
a:visited {
  color: #984fb0;
}
a:hover {
  color: #5a9cc7;
}
a:active {
  color: #42708f;
}
#site-title {
  margin-bottom: 5px;
}
#site-title a:link,
#site-title a:visited,
#site-title a:hover,
#site-title a:active {
  text-decoration: none;
  color: #444;
}
#site-title a:hover {
  color: #888;
}
#menu {
  float: left;
  margin: 12px;
  padding: 12px;
  width: 200px;
  line-height: 1.7em;
  background-color: #bce391;
  font-size: 20px;
}
#menu a:link,
#menu a:visited,
#menu a:hover,
#menu a:active {
  text-decoration: none;
  color: #444;
}
#menu a:hover,
#menu a:active {
  text-decoration: underline;
}
#menu ul ul {
  margin-left: 10px;
  font-size: 16px;
  line-height: 1.5em;
}
#content {
  padding: 12px;
  overflow: hidden;
  width: auto;
}
#blog {
  max-width: 800px;
}
#blog img {
  width: 100%;
  height: auto;
}
.comment {
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  #menu {
    width: 100%;
    padding: 2.5%;
    margin: 0;
  }
}
