// Variables
// Colors

Colors = {
  title-background: #333,
  title-hover: #CCC,

  background: #FFF,
  shadow: #000,
  primary: #FFF,
  accent: #333,
  accent-hover: #555,
  background-shade: #606060,
  background-invert: #333,
  text: #000,
  text-weak: #FEFEFE,
  text-strong: #000,
  text-heading: #000,
  text-invert: #FFF,
  text-invert-hover: #CCC,
  text-strong-invert: #FFF,
  text-link: #19AFFF,
  text-link-visited: #c572de,
  text-link-hover: #75CFFF,
  border: #CCC,
  border-invert: #888,

  green: #bfff75,
  blue: #19AFFF,
  lightblue: #75CFFF,
  purple: #c572de,
  light: #f2fcff,
  lightgray: #DDD,
  dark: #333
}

// General mixins
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

opacity(n)
  // IE
  -ms-filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=" + n*100 + ")")
  // IE 5-7
  filter: unquote('alpha(opacity=' + n * 100 + ')')
  // Netscape
  -moz-opacity: n
  // Safari 1.x
  -khtml-opacity: n
  // General Browsers
  opacity n

transition(args...)
  -webkit-transition: args
  -moz-transition: args
  -ms-transition: args
  -o-transition: args
  transition: args

unselectable()
  -webkit-user-select none /* Chrome/Safari */
  -moz-user-select none /* Firefox */
  -ms-user-select none /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select none
  user-select none

// HTML properties
*
  box-sizing border-box
body
  font: 1em "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif
  text-align left
  color: Colors.text
  background-color: Colors.background
  line-height 1.6
h1, h2, h3, h4, h5, h6
  margin 0 0 0.5em 0
  color: Colors.text
  font-weight bold
  line-height 1
h2, h3, h4, h5, h6
  margin-top 1.0em
  margin-bottom 1.0em
h1
  font-size 2.1em
h2
  font-size 1.3em
h3
  font-size 1.1em
h4
  font-size 1em
h5
  font-size 0.9em
h6
  font-size 0.8em
p
  margin: 1em 0
a
  text-decoration none
a:link
  color: Colors.text-link
a:visited
  color: Colors.text-link-visited
a:hover
  color: Colors.text-link-hover
a:active
  color: Colors.text-link-hover
input
  margin 0.2em
textarea
  margin 0.2em
img
  max-width 100%
  height auto
table
  display table
td, th
  border 1px solid #444
  padding 0.25em

/** General **/
.clearfix
  clear both
columns(x)
  width (100 / x)%
for num in (1...10)
  .col-{num}
    columns(num)
.clickable
  cursor pointer
  transition all 0.5s ease
.clickable:hover
  background-color: Colors.accent
  color: Colors.text-invert


/** Menu **/
menu-buffer = 0.25em
#menu
  margin-right 0.5em
  margin-bottom 0
  width 100%
  border-radius(0)
#site-title
  margin 0
  padding menu-buffer
  background-color: Colors.title-background
  h2
    font-size 1em
    margin 0
  a:link, a:visited, a:hover, a:active
    color: Colors.text-invert
  a:hover
    color: Colors.text-invert-hover
.menu-tabs
  text-align center
  display table
  border-spacing 0
  width 100%
  border-bottom: 1px solid Colors.border
  box-shadow: 0 0.1em 0.5em rgba(0,0,0,0.05)
  h3
    margin 0
    font-size 1.1em
    font-weight bold
    color: Colors.blue
  p
    margin 0
    font-size 0.9em
.menu-header
  float none
  display table-cell
  background-color: Colors.background
  padding menu-buffer
  cursor pointer
  unselectable()
.menu-header[state='off']
  background-color: Colors.background
  transition(all 0.5s ease)
.menu-header[state='on']
  background-color: Colors.accent
  transition(all 0.5s ease)
  color: Colors.text-invert
.menu-header:hover
  background-color: Colors.accent-hover
  transition(all 0.5s ease)
  color: Colors.text-invert
#menu-sections
  width 100%
  padding 0
  a:link, a:visited, a:active
    color: Colors.text
  a:hover
    color: Colors.text-link-hover
#menu-sections .menu-section
  width 100%
  background-color: Colors.background
  box-shadow: 0 0.1em 0.5em rgba(0,0,0,0.05)
  td, th
    border none
  .menu-item-name
    width 30%
    border-right: 1px solid Colors.border
    border-bottom: 1px solid Colors.border
    color: Colors.text-invert
  .menu-item-description
    width 70%
    font-weight normal
    border-bottom: 1px solid Colors.border
    color: Colors.text
  tr th.menu-item-description, tr th.menu-item-name
    color: Colors.text
    font-weight bold
  tr.clickable:hover
    background-color: Colors.accent-hover
    color: Colors.text-invert
  tr.clickable:hover .menu-item-description
    color: Colors.text-invert
  tr.clickable:hover a
    color: Colors.text-invert
.menu-section[state='off']
  opacity(0)
  position absolute
  left -10000px
.menu-section[state='on']
  opacity(1)
  transition(all 0.5s ease)
  position relative

/** Forms **/
.inline-form
  display inline
  fieldset
    display inline
    margin-right 0.5em
  margin-right 0.5em
.medium-input
  width 20em
.long-input
  width 30em
.pure-button-primary
  background-color #bfff75
  color #666
.pure-form-aligned .pure-control-group label
  width 6em
.pure-form-aligned .pure-controls
  margin-left 6.4em
.small-button
  padding 0.1em
.destructive
  background-color #ED6767
  color #EEE
.big-editor
  width 100%
  height 800px
.small-editor
  width 50%
  height 150px
.editable
  overflow auto
  border-radius(0.3em)
  border 1px solid gray

/** Content **/
#content
  padding 0.5em
  overflow hidden
  width auto
#blog
  width 100%
  margin 0 auto
.limited-width
  max-width 50em
.comments
  clear both
  margin-top 3em
.comment
  margin-bottom 1em
.rounded
  border-radius(0.3em)
.article
  margin-bottom 1.5em
.float-left
  float left
.center
  text-align center

.space
  margin 0.5em
.space-right
  margin-right 0.5em

/** Smaller Screens **/
@media (max-width: 700px)
  body
    padding 0
  #menu
    width 100%
    margin 0
    border-radius 0