// General mixins
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

// HTML properties
*
  box-sizing border-box
body
  font: 1em "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif
  text-align left
  color #DDD
  background-color #111
  line-height 1.6em
h1, h2, h3, h4, h5, h6
  margin 0 0 0.5em 0
  color #FEFEFE
  font-weight bold
  line-height 1em
h2, h3, h4, h5, h6
  margin-top 1.0em
  margin-bottom 1.0em
h1
  font-size 2.1em
h2
  font-size 1.3em
h3
  font-size 1.1em
h4
  font-size 1em
h5
  font-size 0.9em
h6
  font-size 0.8em
p
  margin: 1em 0
a
  text-decoration none
a:link
  color #5cb7ff
a:visited
  color #c572de
a:hover
  color #f2fcff
a:active
  color #f2fcff
input
  margin 0.2em
textarea
  margin 0.2em
img
  max-width 100%
  height auto

/** Menu **/
#menu
  padding 0.5em
  float left
  margin-right 0.5em
  width 12em
  background-color #111
  a:link, a:visited, a:hover, a:active
    color #bfff75
  a:hover
    color #FFF
  border-radius(0)
#site-title
  font-size 1em
  margin-bottom 1em
  margin-top 0
.menu-items
  h3
    margin 0
    font-size 0.9em
    font-weight bold
    color: #BBB
    margin-top 1em
    margin-bottom 0.3em
  ul
    list-style none
    padding 0
    margin 0

/** Forms **/
.inline-form
  display inline
  fieldset
    display inline
    margin-right 0.5em
  margin-right 0.5em
.medium-input
  width 20em
.long-input
  width 30em
.pure-button-primary
  background-color #bfff75
  color #666
.pure-form-aligned .pure-control-group label
  width 6em
.pure-form-aligned .pure-controls
  margin-left 6.4em
.small-button
  padding 0.1em
.destructive
  background-color #ED6767
  color #EEE
.big-editor
  width 100%
  height 800px
.small-editor
  width 50%
  height 150px
.editable
  overflow auto
  border-radius(0.3em)
  border 1px solid gray

/** Content **/
#content
  padding 0.5em
  overflow hidden
  width auto
#blog
  width 100%
.limited-width
  max-width 50em
.comments
  clear both
  margin-top 3em
.comment
  margin-bottom 1em
.rounded
  border-radius(0.3em)
.article
  margin-bottom 1.5em
.float-left
  float left
.center
  text-align center

.space
  margin 0.5em
.space-right
  margin-right 0.5em

/** Smaller Screens **/
@media (max-width: 700px)
  body
    padding 0
  #menu
    width 100%
    margin 0
    border-radius 0