* {
  box-sizing: border-box;
}
body {
  font: 17px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  text-align: left;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #444;
  background-color: #fff;
  line-height: 1.5em;
  padding: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  color: #343434;
  font-weight: bold;
  line-height: 1em;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 2.1em;
  margin-bottom: 0.5em;
}
h2 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.9em;
}
h6 {
  font-size: 0.8em;
}
h3,
h4,
h5,
h6 {
  margin-bottom: 0.2em;
}
p {
  margin: 0.8em 0;
}
a:link {
  color: #0db9ff;
}
a:visited {
  color: #984fb0;
}
a:hover {
  color: #5a9cc7;
}
a:active {
  color: #42708f;
}
input {
  margin: 0.2em;
}
textarea {
  margin: 0.2em;
}
img {
  max-width: 100%;
  height: auto;
}
/** Menu **/
#site-title {
  padding: 0.2em;
  margin-bottom: 0.3em;
}
#site-title a:link,
#site-title a:visited,
#site-title a:hover,
#site-title a:active {
  text-decoration: none;
  color: #444;
}
#site-title a:hover {
  color: #888;
}
.pure-menu.pure-menu-open {
  border: 0;
  background: inherit;
}
.pure-menu .pure-menu-heading {
  border: 0;
  border-bottom-color: #a9cb83;
  padding: 0.3em;
}
.pure-menu li a {
  padding: 0.1em 1.5em;
}
.pure-menu li a:hover,
.pure-menu li a:focus {
  background: #aed990;
}
#menu {
  padding: 0.5em;
  float: left;
  margin-right: 0.5em;
  width: 15em;
  background-color: #b4ea8b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#menu a:link,
#menu a:visited,
#menu a:hover,
#menu a:active {
  text-decoration: none;
  color: #444;
}
#menu a:hover,
#menu a:active {
  text-decoration: underline;
}
/** Forms **/
.inline-form {
  display: inline;
  margin-right: 0.5em;
}
.inline-form fieldset {
  display: inline;
  margin-right: 0.5em;
}
.medium-input {
  width: 20em;
}
.long-input {
  width: 30em;
}
.pure-button-primary {
  background-color: #b4ea8b;
  color: #666;
}
.pure-form-aligned .pure-control-group label {
  width: 6em;
}
.pure-form-aligned .pure-controls {
  margin-left: 6.4em;
}
.small-button {
  padding: 0.1em;
}
.destructive {
  background-color: #ed6767;
  color: #eee;
}
.big-editor {
  width: 100%;
  height: 800px;
}
.small-editor {
  width: 50%;
  height: 150px;
}
.space-right {
  margin-right: 0.5em;
}
.editable {
  overflow: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #808080;
}
/** Content **/
#content {
  padding: 0.5em;
  overflow: hidden;
  width: auto;
}
#blog {
  max-width: 50em;
}
.comments {
  margin-top: 3em;
}
.comment {
  margin-bottom: 1em;
}
.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.article {
  margin-bottom: 1.5em;
}
/** Smaller Screens **/
@media (max-width: 700px) {
  body {
    padding: 0;
  }
  #menu {
    width: 100%;
    margin: 0;
  }
}
